body {
    $test: 30deg;

    a {
        color: red;
        transform: translateX($test);
    }

    .b {
        transform: translateX($test);
    }

    .b {
        transform: translateX($test);
    }

    .b {
        transform: translateX($test);
    }

    .b {
        transform: translateX($test);
    }

    .b {
        transform: translateX($test);
    }
}
