body a {
  color: red;
  transform: translateX(30deg); }

body .b {
  transform: translateX(30deg); }

body .b {
  transform: translateX(30deg); }

body .b {
  transform: translateX(30deg); }

body .b {
  transform: translateX(30deg); }

body .b {
  transform: translateX(30deg); }
